body {
    margin: 0;
    width: 128%;
    overflow-x: hidden;
    background-color: #7F9F29;
}

.containerJogo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 154px;
}

#canvas {
    width: 448px;
    height: 100%;
    /* border: 2px solid black; */
}

.image-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.looping-image {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 70%;
    height: auto;
    animation: slide 8s linear infinite;
}

@keyframes slide {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.player-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: cursive;
}

.player-info img {
    vertical-align: middle;
    margin-right: 5px;
}

#obstacles-container {
    position: absolute;
    top: 0;
    width: 448px; /* Ensure this matches the width of your canvas */
    height: 100%;
    pointer-events: none;
}

.obstacle, .repair-kit {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
}

/* Adicione estes estilos no seu arquivo CSS */
.obstacle.type1 {
    background-color: red; /* Exemplo de cor */
    width: 50px;
    height: 50px;
}

.obstacle.type2 {
    background-color: rgb(255, 0, 212); /* Exemplo de cor */
    width: 60px;
    height: 60px;
}

.obstacle.type3 {
    background-color: rgb(0, 9, 128); /* Exemplo de cor */
    width: 70px;
    height: 70px;
}

/* Adicione mais tipos conforme necessário */


.repair-kit {
    background-color: green;
}
